{% extends "base.html" %}

{% block maincontent %}
<br>
<div class="row">
    <h2>The whole darn family</h2>
    {% for member in family %}
        <div class="row">
            <h4>{{ member.full_name }} <small>({{member.birthday|date:"D., N d, Y"|default:"n/a"}} - {{member.died_on|date:"D., N d, Y"|default:"n/a"}})</small></h4>
        </div>
    {% endfor %}
</div>
<div class="pagination-centered">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="arrow"><a rel="prev" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for num in paginator.page_range %}
            {% ifequal num page_obj.number %}
                <li class="current"><a href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="arrow"><a rel="next" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock maincontent %}

{% block extrajs %}

{% endblock extrajs %}