{% extends "base.html" %}

{% block maincontent %}
<br>
<div class="row">
    <h2>The whole darn family <small><a href="{% url 'family-tree' %}">view web</a></small></h2>
    <div class="row">
        {% for member in family %}
        <div class="large-3 columns left">
            <div class="panel">
                <h4>
                    <a href="{{ member.get_absolute_url }}">{{ member.full_name }}</a> <small>({{ member.birthday|date:"SHORT_DATE_FORMAT"|default:"n/a" }} - {{ member.died_on|date:"SHORT_DATE_FORMAT"|default:"n/a" }})</small>
                </h4>
                {% comment %}
		<strong>Children</strong>
                <ul>
                    {% if member.mother_to.all %}
                        {% for child in member.mother_to.all %}
                            <li>
                                <a href="{{ child.get_absolute_url }}">{{ child.full_name }}</a>
                            </li>
                        {% empty %}
                            <li>None</li>
                        {% endfor %}
                    {% else %}
                        {% for child in member.father_to.all %}
                            <li>
                                <a href="{{ child.get_absolute_url }}">{{ child.full_name }}</a>
                            </li>
                        {% empty %}
                            <li>None</li>
                        {% endfor %}
                    {% endif %}
                </ul>
		{% endcomment %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination-centered">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="arrow"><a rel="prev" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for num in paginator.page_range %}
            {% ifequal num page_obj.number %}
                <li class="current"><a href="?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="arrow"><a rel="next" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock maincontent %}

{% block extrajs %}

{% endblock extrajs %}
