<div class="small-12 large-4 columns">
    <div class="panel">
        {% if categories %}
            {% include 'blog/includes/category_list.html' %}
            <hr>
        {% endif %}
        <a class="twitter-timeline" href="https://twitter.com/PatSweet" data-widget-id="271010481685282818">Tweets by @PatSweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>