{% extends "base.html" %}

{% block maincontent %}
<br>
<div class="row">
    <h1 class='text-center'>OH NO!</h1>
    <p>
        The page you were looking for cannot be found. Make sure the URL looks right and try refreshing your browser. If that doesn't work, you might have to travel to the homepage to find what you're looking for.
    </p>
    <p>
        If you keep seeing this page, <a href="{% url 'contact_form' %}">let me know</a> so I can fix the issue.
    </p>
    <p>
        Best,<br>
        Patrick
    </p>
</div>
{% endblock maincontent %}