{% extends "base.html" %}
{% load static %}
{% block extrastyles %}
{% endblock extrastyles %}
{% block maincontent %}
    <div class="main-hero">
        <div class="row main-hero-content">
            <div class="small-12 large-6 large-centered columns">
                <!-- <p class="text-center">
                    <img class="headshot" src="{% static "img/headshot.jpg" %}" alt="">
                </p> -->
                <h1 class="text-center">
                    Patrick Sweet
                </h1>
                <p>
                    Welcome to my site. I'm a law student and former journalist, a Mizzou grad and Denver native.
                </p>
                <p>
                    I'm currently studying at the Sturm College of Law at the University of Denver.
                </p>
                <p>
                    Get in touch with me:
                </p>
                <p class="text-center contact-links">
                    <a href="https://twitter.com/patsweet"><i class="fi-social-twitter"></i> Twitter</a> | <a href="http://www.linkedin.com/in/patsweet"> <i class="fi-social-linkedin"></i> LinkedIn</a> | <a href="https://www.facebook.com/patmsweet"> <i class="fi-social-facebook"></i> Facebook</a> | <a href="{% url 'contact_form' %}"> <i class="fi-mail"></i> Email</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h3>Latest blog posts</h3>
            <ul class="large-block-grid-3 small-12 columns">
                {% for post in posts %}
                    <li>
                        <div class="panel">
                            <span class="label">{{ post.pub_date }}</span>
                            {% if post.category %}
                                <span class="secondary label">{{ post.category.title }}</span>
                            {% endif %}
                            <h4><a href="{{ post.get_absolute_url }}">{{ post.headline }}</a></h4>
                            {{ post.body|safe|truncatewords_html:20 }}
                            {% ifnotequal post.body|truncatewords_html:20|length post.body|truncatewords_html:21|length %}
                                <a href="{{ post.get_absolute_url }}">Read More</a>
                            {% endifnotequal %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <h4 class="right"><a href="{% url 'blog-home' %}">More blog posts</a></h4>
        </div>
    </div>
{% endblock maincontent %}

{% block extrajs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js
"></script>
<script>
    $(".main-hero").backstretch('{% static 'img/mountain-background.jpg' %}')
</script>
{% endblock extrajs %}