{% extends "base.html" %}

{% block maincontent %}
    <div class="row">
        <div class="small-12 large-6 large-centered columns">
            <div class="row">
                <img class="small-12 large-8 small-centered large-centered columns end" src="https://pbs.twimg.com/profile_images/1789121344/325550_10150990382310006_696845005_21340812_1611502812_o.jpg" />
            </div>
            <div class="row">
                <h1 class="text-center">Patrick Sweet</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <h3>Latest blog posts</h3>
        <ul class="large-block-grid-3">
            {% for post in posts %}
                <li>
                    <div class="panel">
                        <span class="label">{{ post.pub_date }}</span>
                        {% if post.category %}
                            <span class="secondary label">{{ post.category.title }}</span>
                        {% endif %}
                        <h4><a href="{{ post.get_absolute_url }}">{{ post.headline }}</a></h4>
                        {{ post.body|safe|truncatewords_html:20 }}
                        <a href="{{ post.get_absolute_url }}">Read more</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <h4 class="right"><a href="{% url 'blog:blog' %}">More blog posts</a></h4>
    </div>
{% endblock maincontent %}

{% block extrajs %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js
"></script>
{% endblock extrajs %}